<!DOCTYPE html>
<html lang='en'>

<head>

    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Real-Time Crypto Price Tracker</title>
    <link rel='stylesheet' href='real-time.html'>

</head>

<body>

    <div class='container-fluid d-flex align-items-center'>
        <div>
            <div class='row d-flex align-items-center justify-content-center mb-5'>
                <span class='text-center my-5'>
                    * If you like this project or find it helpful, feel free to click ❤️ and follow me for upcoming projects. Have a nice day! :)
                </span>
                <div class='col-2 p-5 me-5'>
                    <div class='d-flex justify-content-end mb-3'>Binance</div>
                    <div class='d-flex justify-content-end pair'>BTC/USDT</div>
                    <div class='d-flex justify-content-end price' id='show_price_binance'>...</div>
                </div>
                
                
            </div>
            <div class='row d-flex align-items-center justify-content-center mb-5'>
            </div>
        </div>
    </div>

    <script src='real-time.js'></script>

</body>

</html>